* {
	font-size: 12px !important; 
	font-family: 'Open Sans';
}

button {
	border: none;
}

.outer {
	width: 1000px;
	height: 350px;
	border: 1px solid #3399FF;
	border-radius: 3px;

}

.outer, .row {
	margin: 0 !important;
	padding: 0 !important;
}

.key {
	width: 400px;
	margin: auto;
}

.title_row {
	position: relative !important;
	border-bottom: 1px solid #3399FF !important;
	padding: 3px !important;
	padding-bottom: 6px !important;
	background: -webkit-linear-gradient(top, #fff 0%, #daeefb 10%);
}

.label_row {
	padding-top: 15px !important;
}

.main_row {
	height: 350px;
}

.symbol .glyphicon-usd {
	font-size: 1.7em !important;
	padding: 7px 8px !important;
}

p .glyphicon-usd {
	display: inline-block;
    vertical-align: top;
	font-size: 0.45em !important;
	padding-top: 15px;
	color: #1093b8;
}

.main_title {
	font-weight: bold;
	color: #05415b;
	font-size: 22px !important;
	padding: 0px;
	margin: 0px;
	margin-left: 75px;
}

button {
	font-size: 13px !important;
    float: right;
    display: block;
    margin-right: 12px;
    clear: left;
    margin-top: 140px;
    width: 145px;
    height: 30px;
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, #1dc0ef, #056e8d);
    border-radius: 7px;
    border-top: 2px solid #18acd6;
    border-left: 2px solid #0f8fb4;
    border-right: 2px solid #0f8fb4;
    box-shadow:
    0 0 0 2px white,
	0px 5px 6px #BBB,
	inset 0px 1px 0px 0px white;
}

.label {
	font-size: 12px !important;
	color: #05415b;
	font-weight: 100;
	padding-left: 35px;
}

.revenue_nr {
	font-size: 40px !important;
	font-weight: bold;
	text-align: right;
	padding-top: 25px;
	padding-right: 15px;
	margin-bottom: -6px !important;
	color: #05415b;
}

.stream {
	font-size: 13px !important;
	font-weight: bold;
	text-align: right;
	padding-right: 15px;
	color: #1093b8;
}

.symbol {
	border-radius: 5px;
    position: absolute;
    top: -10px;
    left: 20px;
    width: 40px;
    height: 37px;
    border: 1px solid #AAA;
    background: -webkit-linear-gradient(top, #fff 0%, #daeefb 60%); 
    box-shadow:
    0 0 0 2px white,
    0 0 0 3px #BBB,
    inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.dot {
	margin-bottom: 2px;
	margin-right: 5px;
	display: inline-block;
	border-radius: 50%;
	width: 6px;
	height: 6px; 
}



/* Chartist CSS */


.ct-series-a .ct-line {
 	stroke: #ed6e37;
 	stroke-width: 6px;
}

.ct-series-b .ct-line {
 	stroke: #259e01;
 	stroke-width: 6px;
}

.ct-series-c .ct-line {
 	stroke: #15a0c8;
 	stroke-width: 6px;
}

.ct-series-a .ct-bar {
 	stroke: #ed6e37;
 	stroke-width: 8px;
}

.ct-series-b .ct-bar {
 	stroke: #259e01;
 	stroke-width: 8px;
}

.ct-series-c .ct-bar {
 	stroke: #15a0c8;
 	stroke-width: 8px;
}

.ct-series-a .ct-area {
	fill: #ACD1E9;
}

.ct-series-a .ct-circle{fill:#ed6e37;stroke-width:3;stroke:white;}
.ct-series-b .ct-circle{fill:#259e01;stroke-width:3;stroke:white;}
.ct-series-c .ct-circle{fill:#15a0c8;stroke-width:3;stroke:white;}