
* {
	font-size: 0.96em !important; 
	font-family: "Open Sans", Arial, sans-serif;
}

button {
	border: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.outer, .row {
	margin: 0 !important;
	padding: 0 !important;
}

.outer {
	max-width: 1000px;
	max-height: 400px;
	border: 1px solid #69AECB;
	border-radius: 3px;
	margin-bottom: 2em !important;
}

.key {
	max-width: 400px;
	margin: auto;
	margin-bottom: 2.5em;
}

.title_row {
	position: relative !important;
	border-bottom: 1px solid #69AECB;
	padding: 0.6em !important;
	padding-bottom: 0.6em !important;
	background: -webkit-linear-gradient(top, #fff 0%, #daeefb 10%);
}

.label_row {
	padding-top: 1.1em !important;
}

.main_row {
	max-height: 400px;
}

.symbol .glyphicon {
	font-size: 2.1em !important;
	padding-top: 0.3em !important;
}

p .glyphicon {
	display: inline-block;
    vertical-align: top;
	font-size: 0.45em !important;
	padding-top: 0.9em;
	color: #1093b8;
}

.main_title {
	font-weight: bold;
	color: #05415b;
	font-size: 1.6em !important;
	padding: 0em;
	margin: 0em;
	margin-left: 3.6em;
}

.col_right {
	padding-right:2.7em !important;
}

button {
	outline: 0;
	font-size: 1.1em !important;
    float: right;
    display: block;
    clear: left;
    margin-top: 7em;
    width: 13em;
    height: 2.7em;
    font-weight: 600;
    color: white;
    padding-bottom: 0.33em;
    background: linear-gradient(to bottom, #1dc0ef, #056e8d);
    border-radius: 0.5em;
    border-top: 0.2em solid #18acd6;
    border-left: 0.2em solid #0f8fb4;
    border-right: 0.2em solid #0f8fb4;
    box-shadow:
    0 0 0 0.2em white,
	0em 0.4em 0.6em #BBB,
	inset 0em 0.1em 0em 0em white;
}

button:hover {
    background: linear-gradient(to bottom, #2dd0ff, #157e9d);
    box-shadow:
    0 0 0 0.2em white,
	0em 0.4em 0.6em #AAA,
	inset 0em 0.1em 0em 0em white;
}

.label {
	font-size: 1.1em !important;
	color: #05415b;
	font-weight: 100;
	margin-left: 5em;
}

.revenue_nr {
	font-size: 4em !important;
	font-weight: bold;
	text-align: right;
	padding-top: 0.5em;
	margin-bottom: -0.2em !important;
	color: #05415b;
}

.stream {
	font-size: 1.2em !important;
	font-weight: bold;
	text-align: right;
	color: #1093b8;
}

.symbol {
	text-align: center;
	border-radius: 0.3em;
    position: absolute;
    top: -0.9em;
    left: 1.5em;
    width: 3.8em;
    height: 3.5em;
    border: 0.1em solid #AAA;
    background: -webkit-linear-gradient(top, #fff 0%, #daeefb 60%); 
    box-shadow:
    0 0 0 0.2em white,
    0 0 0 0.3em #BBB,
    inset 0em 0em 0.15em 0.15em rgba(0,0,0,0.1);
}

.legend {
	font-size: 1.1em !important;
}

.dot {
	margin-bottom: 0.18em;
	margin-right: 0.3em;
	display: inline-block;
	border-radius: 50%;
	width: 6px;
	height: 6px;
}

.outer {
	margin: 40px;
}




/* Chartist.js */

.ct-series-a .ct-line {
 	stroke: #ed6e37;
 	stroke-width: 6px;
}

.ct-series-b .ct-line {
 	stroke: #259e01;
 	stroke-width: 6px;
}

.ct-series-c .ct-line {
 	stroke: #15a0c8;
 	stroke-width: 6px;
}

.ct-series-a .ct-bar {
 	stroke: #ed6e37;
 	stroke-width: 8px;
}

.ct-series-b .ct-bar {
 	stroke: #259e01;
 	stroke-width: 8px;
}

.ct-series-c .ct-bar {
 	stroke: #15a0c8;
 	stroke-width: 8px;
}

.ct-series-a .ct-area {
	fill: #ACD1E9;
}

.ct-series-a .ct-circle{fill:#ed6e37;stroke-width:3;stroke:white;}
.ct-series-b .ct-circle{fill:#259e01;stroke-width:3;stroke:white;}
.ct-series-c .ct-circle{fill:#15a0c8;stroke-width:3;stroke:white;}





/* media queries */

@media (max-width: 991px) {
	.col_right {
		font-size: 0.75em !important;
	}	  
	.label {
		margin-left: 0em;
	}
	.outer {
		width: 718px;
	}

}




meta.foundation-data-attribute-namespace {
  font-family: false; }